[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/srv/adminDBSite/.venv/bin/uwsgi -i /srv/adminDBSite/config/uwsgi/adminDBSite.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
